.reportBox {
  background-color: #a9c4f5;
  width: 1000px;
  word-wrap: break-word;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 30px;
  border-radius: 25px;
  border: 2px solid #73ad21;
  padding: 20px;
  display: none;
  font-family: monospace;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 23px;
  white-space: pre-line;
}

.filter {
  margin-left: 30px;
}

.filterGroup {
  margin-bottom: 20px;
}

.filterOptions {
  margin-left: 10px;
}
